
  <p>Best Drink Pairing For The Best Books</p>
  </header>
  <nav class="navbar">
    <a href="/mybooks">Books</a>
    <a href="/mylibrary">My Library</a>
    <a href="/mycocktails">Drinks</a>
    <a href="/mydrinks">My Drinks</a>
  </nav>
  <div class="content">