<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Library</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <nav class="navbar">
    <a href="/mybooks">Books</a>
    <a href="/mylibrary">My Library</a>
    <a href="/mycocktails">Drinks</a>
    <a href="/mydrinks">My Drinks</a>
  </nav>
  <div class="content">
    <h2>My Library</h2>
    <p>Your personal collection of favorite books.</p>
    <div class="library-items">
    
    </div>
  </div>
</body>
</html>
